@model IEnumerable<ITS_System.Models.Booking>

@{
    ViewData["Title"] = "My Bookings";
}

<h1>My Bookings</h1>


@*Displays all classes*@
<div class="d-flex flex-wrap justify-content-between">
    @foreach (var item in Model) // Loops through each booking and displays each item in seperate cards
    {
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title text-center mb-3">@Html.DisplayFor(modelItem => item.Class.Name)</h5>
                <p class="card-text">
                    <strong>Time and Date:</strong> @Html.DisplayFor(modelItem => item.TimeStamp) <br />
                    <strong>Status:</strong> @Html.DisplayFor(modelItem => item.Status)
                </p>
                <div class="d-flex justify-content-between">
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn-danger btn w-100">Cancel Booking</a> @*Creates a button that will delete the booking*@
                </div>
            </div>
        </div>
    }
</div>
