@{
    ViewData["Title"] = "Customer Home Page";
}

@*Creates cards linking to each customer page*@
<div class="text-center">
    <h1 class="display-4">Welcome to the Customer Home</h1>
    <div style="height:60vh; margin-top:20vh;">
        <div class="row d-flex justify-content-center align-items-center">

            @*Creates cards representing each customer page. Clicking on the card will redirect to that page*@
            <div class="col-md-6 mb-4">
                <a href="@Url.Action("Index", "Booking", new { area = "Customer" })" class="card text-bg-info text-decoration-none text-center">
                    <div class="card-body" style="height: 200px;">
                        <h5 class="card-title" style="font-size: 24px; line-height: 150px;">Book a Class</h5>
                    </div>
                </a>
            </div>
            <div class="col-md-6 mb-4">
                <a href="@Url.Action("Index", "Bookings", new { area = "Customer" })" class="card text-bg-info text-decoration-none text-center">
                    <div class="card-body" style="height: 200px;">
                        <h5 class="card-title" style="font-size: 24px; line-height: 150px;">Manage Bookings</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
 </div>
