@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <section>
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                <h2>Create a new account.</h2>
                                <hr />
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-floating">
                                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                                    <label asp-for="Input.Email"></label>
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="form-floating">
                                    <input asp-for="Input.Password" class="form-control mt-3" autocomplete="new-password" aria-required="true" />
                                    <label asp-for="Input.Password"></label>
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="form-floating">
                                    <input asp-for="Input.ConfirmPassword" class="form-control mt-3" autocomplete="new-password" aria-required="true" />
                                    <label asp-for="Input.ConfirmPassword"></label>
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary mt-5">Register</button>
                                <button class="w-100 btn btn-lg btn-success mt-2" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Login as an existing user</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
