@{
    ViewData["Title"] = "Home Page"; // Sets the page title
}

<img src="./images/bg.webp" id="background-image" alt="Background image"> @*Adds the background image, given the id "background-image" in order to style it in the CSS file*@


@*Displays the title and logo*@
<div class="parent d-flex justify-content-center align-items-center h-100 w-100">
  <div class="child">
      <img src="./images/icon.webp" id="icon-image" alt="Dumbell icon">
      <h1 id="index-title">Flex Appeal Fitness</h1>
  </div>
</div>